<div class="large-12 columns">
  <form method="get" action="/tags">
    <div class="row collapse">
      <div class="large-10 columns">
        <input type="text" name="v" placeholder="Youtube URL, ID, or embed-code">
      </div>
      <div class="large-2 columns">
        <input type="submit" class="button prefix" value="Create code" />
      </div>
    </div>
    <p class="message">For example <em>http://youtu.be/D80QdsFWdcQ</em>.</p>
  </form>
</div>
<div class="large-12 columns">
  <h2>How does it work?</h2>
</div>
<div class="large-4 columns">
  <div class="panel">
  <h2>1. <small>Provide the YouTube-code</small></h2>
  <p>Paste your originial YouTube embed-code, the ID or the video URL in the field above, and press the button.</p>
  <p>tubemp detects what video you want, downloads the thumbnail for it and re-creates a thumbnail from it.</p>
  <p>There is a simple <a href="https://github.com/berkes/tubemp#json">JSON API version</a></p>
  </div>
</div>
<div class="large-4 columns"><div class="panel">
  <h2>2. <small>tubemp creates an image that looks like a youtube-player</small></h2>
  <p>Copy and paste the code you get onto your site. You can either choose to place a simple image, or one that has a YouTube play icon sticked to it.<br/>
  This code links to the original video-page on YouTube. The image is served from the tubemp server and domain.
  </p>
  </div>
</div>
<div class="large-4 columns"><div class="panel">
  <h2>3. <small>Third party trackers?</small></h2>
  <p>When you place the default YouTube-embed-code on your site, Google (who owns YouTube) can, and will, track all the visitors of <em>your</em> site!<br />
  You, or your users may not like that. In many countries there are even laws and regulations that don't allow you to place things (like embed-codes, ads) on your
  site that allow <em>third parties</em> to track your visitors.<br />
  </p>
  </div>
</div>

